.comp-header {
  background-color: #ffffff22;
  backdrop-filter: blur(20px);
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;

  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logo {
      border-radius: 10px;
    }

    h1 {
      color: white;
      font-size: 2rem;
      font-weight: 700;
      margin: 0;
    }
  }

  .btn-user-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .user-avatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      background: none;
      border-radius: 50%;
      border: none;
      padding: 5px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
            &:hover {
        background: #ffffff80;
      }
    }

    .btn-logout {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: none;
      border:none;
      border-radius: 50px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      transition: all 0.3s ease;

      img {
        filter: brightness(0) invert(1);
      }

      &:hover {
        background: rgba(255, 71, 87, 0.3);
      }
    }
  }
}