<div class="signup-container">
  <div class="modal-logo">
    <img src="./images/Asset4.svg" alt="HireFire" width="60" height="60">
  </div>

  <form (ngSubmit)="onSignup()" #signupForm="ngForm" autocomplete="on">

    <input
      type="text"
      placeholder="Full name"
      [(ngModel)]="user.userName"
      name="userName"
      required
      autocomplete="family-name"
      class="glass-input"
    />

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="user.email"
      name="email"
      required
      autocomplete="email"
      class="glass-input"
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
      autocomplete="new-password"
      class="glass-input"
    />

    <input
      type="password"
      placeholder="Confirm password"
      [(ngModel)]="user.confirmPassword"
      name="confirmPassword"
      required
      autocomplete="new-password"
      class="glass-input"
    />

    <button type="submit" class="btn-submit">NEXT</button>
  </form>
</div>
