<div class="signup-container">
  <div class="modal-logo">
    <svg width="60" height="60" viewBox="0 0 60 60" fill="none">
      <path d="M30 7.5L52.5 22.5V37.5L30 52.5L7.5 37.5V22.5L30 7.5Z" fill="white"/>
      <path d="M30 22.5L37.5 27V33L30 37.5L22.5 33V27L30 22.5Z" fill="#7C3AED"/>
    </svg>
  </div>

  <form (ngSubmit)="onSignup()" #signupForm="ngForm" autocomplete="on">
    <input
      type="text"
      placeholder="First name"
      [(ngModel)]="user.firstName"
      name="firstName"
      required
      autocomplete="given-name"
      class="glass-input"
    />

    <input
      type="text"
      placeholder="Last name"
      [(ngModel)]="user.lastName"
      name="lastName"
      required
      autocomplete="family-name"
      class="glass-input"
    />

    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="user.email"
      name="email"
      required
      autocomplete="email"
      class="glass-input"
    />

    <input
      type="password"
      placeholder="Password"
      [(ngModel)]="user.password"
      name="password"
      required
      autocomplete="new-password"
      class="glass-input"
    />

    <input
      type="password"
      placeholder="Confirm password"
      [(ngModel)]="user.confirmPassword"
      name="confirmPassword"
      required
      autocomplete="new-password"
      class="glass-input"
    />

    <button type="submit" class="btn-submit">NEXT</button>
  </form>
</div>
